.row{
  text-align: center;
  padding-bottom: 20px;
}
.homecontainer{
  padding: 20px;
}
.Search{
  width: 500px;
}
#load-spin{
  width: 500px;
  height: 500px;
  padding: auto;
}
#cast-alert{
  text-align: center;
  width: 30%;
  margin: 200px auto 210px auto;
}